.mat-mdc-row,
.mdc-data-table__content {
  font-size: 10px !important;
}

.tabla-horariosAgregados {
  overflow-x: auto;
}

.mat-column-id {
  max-width: 50px !important;
}
.mat-column-modalidad {
  max-width: 100px !important;
}
