<form [formGroup]="disciplinaForm" (ngSubmit)="guardar()" class="form-grid">
  <mat-form-field appearance="outline">
    <mat-label>Código*</mat-label>
    <input matInput formControlName="codigo" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Descripción*</mat-label>
    <input matInput formControlName="descripcion" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Estado*</mat-label>
    <mat-select formControlName="estado">
      <mat-option value="Activo">Activo</mat-option>
      <mat-option value="Inactivo">Inactivo</mat-option>
    </mat-select>
  </mat-form-field>

  <div mat-dialog-actions align="end" class="footerDialog d-flex">
    <button mat-raised-button color="primary" class="loadButton" type="submit"><mat-icon>save</mat-icon>Guardar</button>
    <button mat-stroked-button color="warn" type="button" (click)="limpiar()" mat-dialog-close><mat-icon>close</mat-icon>Cancelar</button>
  </div>
</form>
