fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

legend {
    font-size: 14px;
    font-weight: normal ;
    color: rgba(0, 0, 0, 0.8);
}
.capa-image{
  padding: 0 12px;
}
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-color: #ccc;
  border-radius: 2.5px;
  border-width: 1px;
  border-style: dashed;
  padding: 0px;
  height: 56px;
  max-width: auto;
  overflow: hidden; /* evita desbordamiento */
  position: relative;
  p{
    margin-bottom: 0;
  }

  
}
.image-container img {
  margin:0 !important;
  width: 45px; 
  height: 45px; 
  object-fit: cover; 
  border-radius: 4px;
}

.image-input {
  display: none;
}