<h2 mat-dialog-title>{{titulo}}</h2>
<form class="example-form" [formGroup]="perfilForm" (ngSubmit)="onSubmit()">

<mat-dialog-content>
  

    <div class="perfil-foto row">
      <img [src]="usuario.trabajador.persona.urlFoto" class="imagen-usuario"
        alt="Foto de perfil">
    
    </div>


    <mat-card-content class="row">
      <div class="perfil-container">
        <div class="perfil-info">
          <h4>Información Personal</h4>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Número de Documento</mat-label>
            <mat-icon matPrefix>person</mat-icon>
            <input matInput [value]="usuario.trabajador.persona.numDocumento" disabled>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nombres y Apellidos</mat-label>
            <mat-icon matPrefix>person</mat-icon>
            <input matInput
              [value]="usuario.trabajador.persona.nombres + ' ' + usuario.trabajador.persona.apaterno + ' ' + usuario.trabajador.persona.amaterno"
              disabled>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <mat-icon matPrefix>email</mat-icon>
            <input matInput [value]="usuario.trabajador.persona.correo" formControlName="correo">
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Teléfono</mat-label>
            <mat-icon matPrefix>phone</mat-icon>
            <input matInput [value]="usuario.trabajador.persona.telefono" formControlName="telefono">
          </mat-form-field>
        </div>

        <!-- LADO DERECHO: Información Laboral -->
        <div class="perfil-laboral">
          <h4>Información Laboral</h4>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Cargo</mat-label>
            <mat-icon matPrefix>work</mat-icon>
            <input matInput [value]="usuario.trabajador.cargo" disabled>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Oficina</mat-label>
            <mat-icon matPrefix>business</mat-icon>
            <input matInput [value]="usuario.trabajador.oficina.descripcion" disabled>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Fecha de Ingreso</mat-label>
            <mat-icon matPrefix>event</mat-icon>
            <input matInput [value]="usuario.trabajador.fingreso" disabled>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Salario</mat-label>
            <mat-icon matPrefix>attach_money</mat-icon>
            <input matInput [value]="usuario.trabajador.salario " disabled>
          </mat-form-field>
        </div>

      </div>
    </mat-card-content>

  
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close class="accept-button" type="submit" [disabled]="perfilForm.invalid">Guardar</button>
  <button mat-button mat-dialog-close class="cancel-button" cdkFocusInitial>Cancelar</button>
</mat-dialog-actions>

</form>