<h2 mat-dialog-title class="title-modal">Agregar Trabajador</h2>

<mat-dialog-content class="mat-typography">
  <br>
  <form class="example-form" [formGroup]="form" (ngSubmit)="operate()">

    <div class="row">
   
        <mat-form-field class="col-md-2">
           <mat-label>Seleccionar</mat-label>
          <mat-select formControlName="tipodocumento" >
              @for (sp of tipodocumento; track $index) {
                <mat-option [value]="sp.idTipoDocumento">{{sp.descripcion}}</mat-option>
              }
          </mat-select>
          <mat-hint>Tipo de Doc.</mat-hint>
        </mat-form-field> 
        
        <mat-form-field class="col-md-2" appearance="fill">
          <mat-label>N° Documento</mat-label>
          <input matInput type="text" formControlName="numDocumento">
          
          <!-- Botón de búsqueda con ícono de lupa al lado del input -->
          <button mat-icon-button matSuffix (click)="buscarxDoc()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        
     
        <mat-form-field class="col-md-2">
          <mat-label>Nombres</mat-label>
            <input matInput type="text" formControlName="nombres" [value]="form.value.nombres">
        </mat-form-field>
  
        <mat-form-field class="col-md-2">
          <mat-label>Ap. Paterno</mat-label>
          <input matInput type="text" formControlName="apaterno" [value]="form.value.apaterno">
        </mat-form-field>

        <mat-form-field class="col-md-2">
            <mat-label>Ap. Materno</mat-label>
            <input matInput type="text" formControlName="amaterno" [value]="form.value.amaterno">
        </mat-form-field>
    
        <mat-form-field class="col-md-2">
          <mat-label>Seleccionar</mat-label>
          <mat-select formControlName="genero">
            @for (genero of genero; track $index) {
              <mat-option [value]="$index">{{genero}}</mat-option>
            }
          </mat-select>
          <mat-hint>Género</mat-hint>
        </mat-form-field>
    
    </div>

    <div class="row">

      <mat-form-field class="col-md-2">
        <mat-label>Seleccionar</mat-label>
        <mat-select formControlName="idepartamento" (selectionChange)="obtenerProvinciasDir()">
          @for (departamento of departamentosDir; track departamento.idUbigeo) {
            <mat-option [value]="departamento.ubiDpto">{{departamento.ubiNombre}}</mat-option>
          }
        </mat-select>
        <mat-hint>Departamento</mat-hint>
      </mat-form-field> 

      <mat-form-field class="col-md-2">
        <mat-label>Seleccionar</mat-label> 
        <mat-select formControlName="idprovincia" (selectionChange)="obtenerDistritosDir()">
          @for (provincia of provinciasDir; track provincia.idUbigeo) {
            <mat-option [value]="provincia.ubiProvincia">{{provincia.ubiNombre}}</mat-option>
          }
        </mat-select>
        <mat-hint>Provincia</mat-hint>
      </mat-form-field>

      <mat-form-field class="col-md-2">
        <mat-label>Seleccionar</mat-label>
        <mat-select formControlName="iddistrito">
          @for (distrito of distritosDir; track distrito.idUbigeo) {
            <mat-option [value]="distrito.idUbigeo">{{distrito.ubiNombre}}</mat-option>
          }
        </mat-select>
        <mat-hint>Distrito</mat-hint>
      </mat-form-field>

      <mat-form-field class="col-md-2">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="fNacimiento">
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="col-md-2">
        <mat-label>Dirección</mat-label>
        <input matInput type="text" formControlName="direccion">
      </mat-form-field>
      
      <mat-form-field class="col-md-2">
        <mat-label>Código Trabajador</mat-label>
        <input matInput type="text" formControlName="codigoTrabajador">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="col-md-2">
        <mat-label> Cargo</mat-label>
        <input matInput type="text" formControlName="cargo">
      </mat-form-field>

      <mat-form-field class="col-md-2">
        <mat-label>Fecha Ingreso</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="fingreso">
        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="col-md-2">
        <mat-label>Fecha Salida</mat-label>
        <input matInput [matDatepicker]="picker3" formControlName="fsalida">
        <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="col-md-2">
        <mat-label>Horario de Trabajo</mat-label>
        <input matInput type="text" formControlName="horariotrabajo">
      </mat-form-field>

      <mat-form-field class="col-md-2">
        <mat-label>Salario</mat-label>
        <input matInput type="number" formControlName="salario">
      </mat-form-field>

      <mat-form-field class="col-md-2">
          <mat-label>Seleccionar</mat-label>
          <mat-select formControlName="niveleducacion" >
            @for (sp of niveleducacion; track $index) {
              <mat-option [value]="sp.idNivelEducacion">{{sp.descripcion}}</mat-option>
            }
          </mat-select>
          <mat-hint>Nivel de Educación</mat-hint>
      </mat-form-field>
    
    </div>

      <div class="row">
        <mat-form-field class="col-md-2">
          <mat-label>Seleccionar</mat-label>
          <mat-select formControlName="oficina" >
            @for (sp of oficina; track $index) {
              <mat-option [value]="sp.idOficina">{{sp.descripcion}}</mat-option>
            }
          </mat-select>
          <mat-hint>Oficina</mat-hint>
        </mat-form-field>

        <mat-form-field class="col-md-2">
          <mat-label>Seleccionar</mat-label>
          <mat-select formControlName="oficina" >
            @for (sp of oficina; track $index) {
              <mat-option [value]="sp.idOficina">{{sp.descripcion}}</mat-option>
            }
          </mat-select>
          <mat-hint>Oficina</mat-hint>
        </mat-form-field>
        
        <mat-form-field class="col-md-2">
          <mat-label>Bonificaciones</mat-label>
          <input matInput type="number" formControlName="bonificaciones">
        </mat-form-field>

        <mat-form-field class="col-md-2">
          <mat-label>Seleccionar</mat-label>
          <mat-select formControlName="tipocontrato" >
            @for (tipocontrato of tipocontrato; track $index) {
              <mat-option [value]="$index">{{tipocontrato}}</mat-option>
            }
          </mat-select>
          <mat-hint>Tipo de Contrato</mat-hint>
        </mat-form-field>

        <mat-form-field class="col-md-2">
          <mat-label>Metas</mat-label>
          <input matInput type="text" formControlName="metas">
        </mat-form-field>

        <mat-form-field class="col-md-2">
          <mat-label>Url Linkendin</mat-label>
          <input matInput type="text" formControlName="linkedin">
        </mat-form-field>

      </div>

      <div class="row">

        <mat-form-field class="col-md-2">
          <mat-label>Observaciones</mat-label>
          <input matInput type="text" formControlName="observaciones">
        </mat-form-field>

        <div class="col-md-2">
          <input type="file" class="form-control" formControlName="urlFoto">
          <mat-hint>Seleccionar foto</mat-hint>
        </div>
      </div>

    </form>
  
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close btnCancelar>Cancelar</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial><mat-icon>save</mat-icon> Guardar</button>
</mat-dialog-actions>