.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px; 
}

.full-width {
  width: 100%;
}

/* Ajuste responsivo */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; 
  }
}

.form-section-header{
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  gap: 8px;

  & span{
    font-size: large;
  }
}