<form [formGroup]="turnoForm" (ngSubmit)="guardarTurno()" class="row">
  <div class="col-12 col-sm-6 col-md-3">
    <!-- id_horario -->
    <mat-form-field appearance="outline">
      <mat-label>Horario</mat-label>
      <mat-select formControlName="turno">
        @for (turno of tipoturno; track turno) {
        <mat-option [value]="turno.idTipoturno">
          {{ turno.descripcion }}
        </mat-option>
        }
      </mat-select>
      <mat-error *ngIf="turnoForm.get('turno')?.hasError('required')"> Campo obligatorio </mat-error>
    </mat-form-field>
  </div>
  <div class="col-12 col-sm-6 col-md-3">
    <mat-form-field appearance="outline">
      <mat-label>Hora inicio</mat-label>
      <input
        matInput
        formControlName="horainicio"
        [matAutocomplete]="autoInicio"
        placeholder="--:-- AM/PM"
        maxlength="8"
        (keypress)="soloNumerosYPunto($event)"
        (input)="formatearHora($event, 'horainicio')"
      />
      <span matSuffix class="mx-4">{{ amPmHora(turnoForm.get("horainicio")?.value) }}</span>
      <mat-autocomplete #autoInicio="matAutocomplete">
        <mat-option *ngFor="let hora of horasFiltradasInicio | async" [value]="hora">
          {{ hora }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="turnoForm.get('horainicio')?.hasError('required')"> Campo obligatorio </mat-error>
    </mat-form-field>
  </div>

  <!-- Hora fin -->
  <div class="col-12 col-sm-6 col-md-3">
    <mat-form-field appearance="outline">
      <mat-label>Hora fin</mat-label>
      <input
        matInput
        formControlName="horafin"
        [matAutocomplete]="autoFin"
        placeholder="--:-- AM/PM"
        maxlength="8"
        (keypress)="soloNumerosYPunto($event)"
        (input)="formatearHora($event, 'horafin')"
      />
      <span matSuffix class="mx-4">{{ amPmHora(turnoForm.get("horafin")?.value) }}</span>
      <mat-autocomplete #autoFin="matAutocomplete">
        <mat-option *ngFor="let hora of horasFiltradasFin | async" [value]="hora">
          {{ hora }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="turnoForm.get('horafin')?.hasError('required')"> Campo obligatorio </mat-error>
      <mat-error *ngIf="turnoForm.get('horafin')?.hasError('horaInvalida')"> Hora menor que hora inicio </mat-error>
    </mat-form-field>
  </div>

  <div class="col-12 col-sm-6 col-md-3">
    <mat-form-field appearance="outline">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="estado">
        @for (e of estado; track e.id) {
        <mat-option [value]="e.id">
          {{ e.estado }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row g-1 justify-content-center">
    <div class="col-6 col-sm-6 col-md-6 d-flex justify-content-center">
      <button mat-raised-button color="primary" type="submit" [disabled]="!turnoForm.valid"><mat-icon>save</mat-icon> Guardar</button>
      <div class="d-flex align-items-center justify-content-center mx-2">
        <mat-spinner *ngIf="cargar" [diameter]="25" color="primary"></mat-spinner>
      </div>
    </div>

    <div class="col-6 col-sm-6 col-md-6 d-flex justify-content-center">
      <button mat-stroked-button color="warn" type="button" (click)="limpiarFormulario()"><mat-icon>close</mat-icon> Cancelar</button>
    </div>
  </div>
</form>
