.ayuda-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
  }
  
  .titulo {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .subtitulo {
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
  }
  
  .contacto-card {
    margin-top: 20px;
    padding: 20px;
    background: #f9f9f9;
  }

  .boton-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 16px; /* Espaciado entre los campos */
  }
  