.table-container {
  width: 100%;
  overflow-x: auto;
}

.tabla-4c {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.tabla-4c td {
  padding: 10px 12px;
  vertical-align: middle;
}

.pdf-img {
  width: 45px; /* tamaño más grande */
  height: 45px; /* proporción correcta */
  cursor: pointer;
  transition: 0.2s ease;
}

.pdf-img:hover {
  transform: scale(1.15);
}

.btn-red {
  background-color: #d32f2f !important;
  color: #fff !important;
}
.btn-amarillo {
  background-color: #fbc02d !important;
  color: #000 !important;
}
.datos-alumno {
  align-items: center;
}
@media (max-width: 768px) {
  .btn-phone {
    margin-top: 24px;
  }
}

.chip-estado-preinscrito {
  background-color: rgba(255, 178, 43, 1) !important;
  height: auto !important;
  padding: 0.25rem;
  border-radius: 4px;
  font-size: 0.875rem;
  font-weight: 600;
  color: hsl(40, 100%, 23%);
}
.chip-estado-inscrito {
  background-color: rgba(0, 215, 75, 0.8) !important;
  height: auto !important;
  padding: 0.25rem;
  border-radius: 4px;
  font-size: 0.875rem;
  font-weight: 600;
  color: hsl(145, 100%, 23%);
}

.top-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
