<form [formGroup]="turnoForm" (ngSubmit)="guardarTurno($event)" class="row">
  <div class="col-12 col-sm-12 col-md-6">
    <mat-form-field appearance="outline">
      <mat-label>Frecuencia</mat-label>
      <mat-select formControlName="dias" placeholder="Seleccione los días" multiple>
        <mat-option *ngFor="let d of dias" [value]="d">{{ d.descripcion }}</mat-option>
      </mat-select>
      <mat-error *ngIf="turnoForm.get('dias')?.hasError('required')"> Campo obligatorio </mat-error>
    </mat-form-field>
  </div>
  <div class="col-12 col-sm-4 col-md-2">
    <!-- horario -->
    <mat-form-field appearance="outline">
      <mat-label>Horario</mat-label>
      <mat-select formControlName="turno">
        @for (turno of tipoturno; track turno) {
        <mat-option [value]="turno.idTipoturno">
          {{ turno.descripcion }}
        </mat-option>
        }
      </mat-select>
      <mat-error *ngIf="turnoForm.get('turno')?.hasError('required')"> Campo obligatorio </mat-error>
    </mat-form-field>
  </div>
  <div class="col-12 col-sm-4 col-md-2">
    <mat-form-field appearance="outline">
      <mat-label>Hora inicio</mat-label>
      <input
        matInput
        formControlName="horainicio"
        [matAutocomplete]="autoInicio"
        placeholder="--:-- AM/PM"
        maxlength="8"
        (keypress)="soloNumerosYPunto($event)"
        (input)="formatearHora($event, 'horainicio')"
      />
      <span matSuffix class="mr-2">{{ amPmHora(turnoForm.get("horainicio")?.value) }}</span>
      <mat-autocomplete #autoInicio="matAutocomplete">
        <mat-option *ngFor="let hora of horasFiltradasInicio | async" [value]="hora">
          {{ hora }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="turnoForm.get('horainicio')?.hasError('required')"> Campo obligatorio </mat-error>
    </mat-form-field>
  </div>
  <!-- Hora fin -->
  <div class="col-12 col-sm-4 col-md-2">
    <mat-form-field appearance="outline">
      <mat-label>Hora fin</mat-label>
      <input
        matInput
        formControlName="horafin"
        [matAutocomplete]="autoFin"
        placeholder="--:-- AM/PM"
        maxlength="8"
        (keypress)="soloNumerosYPunto($event)"
        (input)="formatearHora($event, 'horafin')"
      />
      <span matSuffix class="mr-2">{{ amPmHora(turnoForm.get("horafin")?.value) }}</span>
      <mat-autocomplete #autoFin="matAutocomplete">
        <mat-option *ngFor="let hora of horasFiltradasFin | async" [value]="hora">
          {{ hora }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="turnoForm.get('horafin')?.hasError('required')"> Campo obligatorio </mat-error>
      <mat-error *ngIf="turnoForm.get('horafin')?.hasError('horaInvalida')"> Hora menor que hora inicio </mat-error>
    </mat-form-field>
  </div>

  <div class="d-flex justify-content-end gap-2">
    <button mat-raised-button color="primary" type="submit" [disabled]="!turnoForm.valid || cargar">
      <div class="d-flex align-items-center justify-content-center gap-2">
        <mat-icon>save</mat-icon>
        {{ idTurno !== 0 ? "Actualizar categoria" : "Guardar" }}
        <mat-spinner *ngIf="cargar" [diameter]="25" color="primary"></mat-spinner>
      </div>
    </button>
    <button mat-stroked-button type="button" color="primary" (click)="limpiarFormulario($event)">Cancelar</button>
  </div>
</form>
