<div class="container-turno">
  <div class="header-section">
    <h2>TURNOS</h2>
  </div>

  <div class="info-banner">Gestiona los turnos indicando su horario de inicio y fin.</div>

  <!-- FORMULARIO -->
  <div class="card-modern">
    <h3 class="subtitle">Registro de turnos</h3>
    <app-turnos-form />
  </div>

  <!-- TABLA -->
  <div class="card-modern">
    <div class="tabla-header">
      <h3 class="subtitle">Turnos registrados</h3>

      <mat-form-field appearance="outline" class="buscador">
        <mat-label>Buscar</mat-label>
        <input matInput (input)="aplicarFiltro($any($event.target).value)" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div class="table-turno">
      <table mat-table [dataSource]="dataSource" class="table-modern">
        <!-- ID -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let row; let idx = index">{{ idx + 1 + +(paginator.pageIndex * paginator.pageSize) }}</td>
        </ng-container>

        <!-- Horario -->
        <ng-container matColumnDef="horario">
          <th mat-header-cell *matHeaderCellDef>Horario</th>
          <td mat-cell *matCellDef="let row">{{ row.tipoturno.descripcion }}</td>
        </ng-container>

        <!-- Dias -->
        <ng-container matColumnDef="dias">
          <th mat-header-cell *matHeaderCellDef>Días</th>
          <td mat-cell *matCellDef="let row">{{ mostrarDias(row.listadia) }}</td>
        </ng-container>

        <!-- Hora Inicio -->
        <ng-container matColumnDef="hora_inicio">
          <th mat-header-cell *matHeaderCellDef>Inicio</th>
          <td mat-cell *matCellDef="let row">{{ row.horainicio }}</td>
        </ng-container>

        <!-- Hora Fin -->
        <ng-container matColumnDef="hora_fin">
          <th mat-header-cell *matHeaderCellDef>Fin</th>
          <td mat-cell *matCellDef="let row">{{ row.horafin }}</td>
        </ng-container>

        <!-- Acciones -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let row" class="acciones-col">
            <button mat-icon-button color="primary" (click)="editarTurno(row.idTurno)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="eliminarTurno(row.idTurno)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users" showFirstLastButtons></mat-paginator>
  </div>
</div>
